:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --our-work-bg-color: #e5e5e5;
  --hero-footer-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --black: #000000;
  --white: #ffffff;
  --footer-address: rgba(255, 255, 255, 0.6);
  --footer-social-icon-bg: rgba(255, 255, 255, 0.1);
  --projects-border-color: #eeeeee;
  --header-bottom-line: #ececec;
  --button-box-shadow: rgba(0, 0, 0, 0.15);
  --svg-icon-color: #afb1b8;
  --anima-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --spec-bg-color: rgba(47, 48, 58, 0.8);
  --projects-thumb-overlay: rgba(33, 150, 243, 0.9);
}

/* general styles */
body {
  position: relative;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding-top {
  padding-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--anima-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/* Модалка */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.6, 0.14, 0.21, 1.43);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close .icon {
  width: 11px;
  height: 11px;

  transition: fill 250ms var(--anima-timing);
}

.button-close:hover {
  cursor: pointer;
}

.button-close:hover .icon,
.button-close:focus .icon {
  fill: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-block {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  outline: none;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-text-colorgit);

  transition: fill 250ms var(--anima-timing);
}

.form-input:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--anima-timing);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input.comment {
  height: 120px;
  resize: none;

  padding: 12px 16px;
}

.form-input.comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.accept {
  position: relative;

  text-align: center;
  margin-bottom: 30px;

  /* outline: 1px solid orange; */
}

.accept a {
  color: var(--accent-color);
}

.accept-label::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;

  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;

  transition: background-color 250ms var(--anima-timing),
    border-color 250ms var(--anima-timing);
}

.accept-checkbox:checked + .accept-label::before {
  background-color: var(--accent-color);
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;

  border-color: var(--accent-color);
}

.submit.button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Page header */
.page-header {
  border-bottom: 1px solid var(--header-bottom-line);
}

.page-header-flex {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item + .item,
.contacts .item + .item {
  margin-left: 50px;
}

.nav .link {
  display: block;
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--anima-timing);
}

.nav .link::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 4px);
  left: 0;

  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 4px;

  opacity: 0;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--anima-timing);
}

.contacts .icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.nav .link.current,
.nav .link.current::after {
  color: var(--accent-color);
  opacity: 1;
}

.logo {
  color: var(--black);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-color);
}

/* Герой */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bg.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;

  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-box-shadow);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Особенности */
.features {
  display: flex;
}

.features .item {
  width: 270px;
  margin-right: 30px;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 1px solid transparent;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features .item:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.spec {
  display: flex;
}

.spec .item + .item {
  margin-left: 30px;
}

.spec img {
  display: block;
}
.spec-item-thumb {
  position: relative;
}
.spec-box {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  background-color: var(--spec-bg-color);
}

.spec-text {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* Наша команда */
.team {
  background-color: var(--secondary-bg-color);
}

.team img {
  display: block;
}

.our-team {
  display: flex;
  text-align: center;
}

.our-team .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team .item:last-child {
  margin-right: 0;
}

.team h3 {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: none;
}

.team p {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-card {
  padding: 30px 32px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--anima-timing);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-icon-color);

  transition: fill 250ms var(--anima-timing);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--white);
}

/* Постоянные клиенты */
.clients {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;

  transition: border-color 250ms var(--anima-timing);
}

.clients-link .icon {
  fill: var(--svg-icon-color);

  transition: fill 250ms var(--anima-timing);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

/* Подвал */
.page-footer {
  background-color: var(--hero-footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo.bottom {
  color: var(--white);
  display: block;
  margin-bottom: 20px;
}

.address {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 70px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-physical {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list {
  display: block;
  margin-bottom: 9px;

  color: var(--footer-address);
  font-size: 14px;
  line-height: 1.71;
}

.address-list:last-child {
  margin-bottom: 0;
}

.join {
  margin-right: 93px;
}

.join-appeal {
  display: block;
  margin-bottom: 20px;

  color: var(--white);
  text-transform: uppercase;
  line-height: 1.14;
}

.join .social {
  justify-content: left;
}

.join .social-item:not(:last-child) {
  margin-right: 10px;
}

.join .social-link {
  background: var(--footer-social-icon-bg);
}

.join .icon {
  fill: var(--white);
}

.join .social-link:hover,
.join .social-link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: var(--footer-address);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--footer-address);
}

.subscribe.button {
  display: flex;
  align-items: center;
}

.subscribe-button-text {
  margin-right: 10px;
}

/* стили Portfolio */
.filter.button {
  min-width: 73px;
  padding: 6px 22px;

  color: var(--secondary-text-color);
  background: var(--secondary-bg-color);
  box-shadow: unset;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: background 250ms var(--anima-timing),
    color 250ms var(--anima-timing), box-shadow 250ms var(--anima-timing);
}

.filter.button:hover,
.filter.button:focus {
  color: var(--white);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter .item + .item {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects .item {
  margin: 15px;
}

.projects .link {
  display: block;

  transition: box-shadow 250ms var(--anima-timing);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .card {
  padding: 20px 24px;
  border-left: 1px solid var(--projects-border-color);
  border-right: 1px solid var(--projects-border-color);
  border-bottom: 1px solid var(--projects-border-color);
}

.projects h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.projects p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-description {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--projects-thumb-overlay);

  padding: 63px 24px;

  transition: transform 250ms var(--anima-timing);
}

.projects .link:hover .projects-description,
.projects .link:focus .projects-description {
  transform: translateY(-100%);
}

.projects .projects-description-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}

.projects img {
  display: block;
  max-width: 100%;
  height: auto;
}
